/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$presentation-heading-color: #4C326A; 
$link-color: #5536A7;
$hover-color: lighten($link-color, 10%);
$code-block-font-size: 0.7em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 36px !default;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

/*-- colors --*/

// #714B8F, #9F74C6, #B88EDB, #F4D5B7, #F59E02, #ED7A00
// #4C326A, #886295, #B098BC, #FEBC94, #FF8935, #FF6100
// #5536A7, #C8CEF3, #EDCED8, #E94A25, #BD470A
